<!-- <app-header></app-header>
<div class="container-fluid">
<div class="mb-5">
  <div class="row">
    <div class="col-md-2">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-10 p-5">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div> -->

<div class="d-flex">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0">
      <div class="">
        <app-side-nav></app-side-nav>
      </div>
    </div>
    <div class="col-md-10 p-0">
      <div class="container-fluid p-0">

        <app-header></app-header>
    
        <div class="container-fluid content-height p-20">
          <div>
            <!-- <button (click)="openPopup()">Open Modal</button> -->
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
  

  
</div>
<app-footer></app-footer>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0">
      <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-10">
      <app-header></app-header>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
<app-footer></app-footer> -->
