<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-2rem">
  <div class="text-center">
    <img src="../../../assets/img/login-form-icon.png" alt="image" />
  </div>
  <div class="text-center text-muted mb-4 mt-2">
    <h4 class="text-lighter">Forgot Password</h4>
  </div>
  <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
    
    <div class="form-group">
      <label>Enter your registered email</label>
      <input type="text" class="form-control" formControlName="email">
      <span class="text-danger"
        *ngIf="(forgotPasswordFormControl.email.touched || submitted) && forgotPasswordFormControl.email.errors?.required">
        Email is required
      </span>
      <span class="text-danger" *ngIf="forgotPasswordFormControl.email.touched && forgotPasswordFormControl.email.errors?.email">
        Enter a valid email address
      </span>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<!-- <div class="modal-footer">
    
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="closeModal('changes saved!')">Save changes</button>
</div> -->
