    <h4 class="py-3">
      Update Organization
    </h4>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-12">
          <hr class="border-light m-0">
          <div class="card-body">
            <form class="form" *ngIf="userOrganizationInfo" [formGroup]="organizationForm" (ngSubmit)="onSubmitupdateUserOrganization()">
              <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.company_name"
                  formControlName="companyName">
                <span class="text-danger"
                  *ngIf="(organizationFormControl.companyName.touched || submittedOrganizationForm) && organizationFormControl.companyName.errors?.required">
                  Company Name is required
                </span>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Address Line 1</label>
                <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.addressLineOne"
                  formControlName="addressLineOne">
                <span class="text-danger"
                  *ngIf="(organizationFormControl.addressLineOne.touched || submittedOrganizationForm) && organizationFormControl.addressLineOne.errors?.required">
                  Company Address is required
                </span>
                  </div>
                  <div class="col-md-6">
                    <label>Address Line 2</label>
                <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.addressLineTwo"
                  formControlName="addressLineTwo">
                <span class="text-danger"
                  *ngIf="(organizationFormControl.addressLineTwo.touched || submittedOrganizationForm) && organizationFormControl.addressLineTwo.errors?.required">
                  Company Address is required
                </span>
                  </div>
                </div>
                
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>City</label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.city"
                      formControlName="city">
                  </div>
                  <div class="col-md-6">
                    <label>State </label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.state"
                      formControlName="state">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Country </label>
                    <select class="form-control" [(ngModel)]="userOrganizationInfo.country.name" formControlName="country">
                      <option value="" [disabled]="true">Select country</option>
                      <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Zip Code </label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.zipCode"  formControlName="zipCode">
                  </div>
                </div>
              </div>
              <div class="billing-address-css mb-2">Billing Details</div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.name"
                      formControlName="name">
                    <span class="text-danger"
                      *ngIf="(organizationFormControl.name.touched || submittedOrganizationForm) && organizationFormControl.name.errors?.required">
                      First Name is required
                    </span>
                  </div>
                  <div class="col-md-6">
                    <label>Phone</label>
                    <input type="number" [(ngModel)]="userOrganizationInfo.billing_contact.phone"
                      formControlName="phone" class="form-control" maxlength="12" minlength="10" />
                    <span class="text-danger"
                      *ngIf="(organizationFormControl.phone.touched || submittedOrganizationForm) && organizationFormControl.phone.errors?.required">
                      Phone Number is required
                    </span>
                    <span class="text-danger"
                      *ngIf="organizationFormControl.phone.touched && organizationFormControl.phone.errors?.invalidPhone">
                      Phone Number should have minimum 10 digit
                    </span>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <label>Cell
                    </label>
                    <ngx-intl-tel-input type="number" [searchCountryFlag]="true"
                      [preferredCountries]="[userOrganizationInfo.billing_contact.countryISO | lowercase]"
                      [phoneValidation]="true" class="d-block" [ngModel]="userOrganizationInfo.billing_contact.cell"
                      formControlName="cell" [maxLength]="10" minlength="10"></ngx-intl-tel-input>
                    <!-- <input type="number" formControlName="cell" class="form-control" maxlength="12" minlength="10" /> -->
                    <span class="text-danger"
                      *ngIf="(organizationFormControl.cell.touched || submittedOrganizationForm) && organizationFormControl.cell.errors?.required">
                      Contact Number is required
                    </span>
                    <span class="text-danger"
                      *ngIf="organizationFormControl.cell.touched && organizationFormControl.cell.errors?.invalidCell">
                      Contact Number should have minimum 10 digit
                    </span>
                    <span class="text-danger"
                      *ngIf="organizationFormControl.cell.touched && organizationFormControl.cell.status == 'INVALID'">
                      Please enter correct Contact Number
                    </span>
                  </div>
                  <div class="col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.email"
                      formControlName="email">
                    <span class="text-danger"
                      *ngIf="(organizationFormControl.email.touched || submittedOrganizationForm) && organizationFormControl.email.errors?.required">
                      Email is required
                    </span>
                    <span class="text-danger"
                      *ngIf="organizationFormControl.email.touched && organizationFormControl.email.errors?.email">
                      Enter a valid email address
                    </span>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox m-0">
                  <input [(ngModel)]="checkboxValue" (change)="copyAddressField()" formControlName="copyAddress"  type="checkbox" name="onoffswitch" class="custom-control-input" checked>
                  <span class="custom-control-label">Copy Address</span></label>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Address Line 1</label>
                <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.billing_address_line_one"
                  formControlName="billingAddressLineOne">
                <span class="text-danger"
                  *ngIf="(organizationFormControl.billingAddressLineOne.touched || submittedOrganizationForm) && organizationFormControl.billingAddressLineOne.errors?.required">
                  Company Address is required
                </span>
                  </div>
                  <div class="col-md-6">
                    <label>Address Line 2</label>
                <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.billing_address_line_two"
                  formControlName="billingAddressLineTwo">
                <span class="text-danger"
                  *ngIf="(organizationFormControl.billingAddressLineTwo.touched || submittedOrganizationForm) && organizationFormControl.billingAddressLineTwo.errors?.required">
                  Company Address is required
                </span>
                  </div>
                </div>
                
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>City</label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.billingCity"
                      formControlName="billingCity">
                  </div>
                  <div class="col-md-6">
                    <label>State </label>
                    <input type="text" class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.billingState"
                      formControlName="billingState">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label>Country </label>
                    <select class="form-control" [(ngModel)]="userOrganizationInfo.billing_contact.billingCountry.name" formControlName="billingCountry">
                      <option value="" [disabled]="true">Select country</option>
                      <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Zip Code </label>
                    <input type="text" class="form-control"[(ngModel)]="userOrganizationInfo.billing_contact.billingZipCode"   formControlName="billingZipCode">
                  </div>
                </div>
              </div>
              
              
              <div class="form-group text-right">
                <button type="submit" [disabled]="organizationForm.status == 'INVALID'"
                  class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
