.fa {
  color: #a3a4a6;
}

.bg-custom {
  color: #9d9fa1;
  min-height: 100vh;
}

.list-group-item {
  background-color: #2f3337 !important;
  /* border-color: rgba(255, 255, 255, 0.06) !important; */
  color: #9d9fa1;
  padding: .12rem 1.25rem;
  border: transparent;
  /* border-bottom: 1px solid rgba(0,0,0,.125); */
}
.seperation-line{
  width: 99%;
  border: 0.5px solid rgba(255,255,255,0.06) !important;
}
.sidenav-divider {
  border-color: rgba(255, 255, 255, 0.06) !important;
  width: 100%;
  border: 0;
  border-top: 1px solid;
}
/* 
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
} */

.sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: #9d9fa1;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

/* #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
} */

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  /* #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  } */
}
.list-group li{
  cursor: pointer;
}

.toggle-btn{
  background: none;
    border: none;
}
.toggle-btn:focus{
  outline: none;
}

li:hover, li:focus{
  color: #fff;
  outline: none;
}
.list-group-item.active {
  z-index: 2;
  color: #fff !important;
  border-color: transparent;
}
.custom-padding{
  padding: .75rem 1.25rem;
}

::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-height: 10vh !important;
  
}

.mat-menu-item{
  line-height:35px;
  height:35px;
}
.bgApply{
  min-height: 110vh !important; 
  background-color: green;
}