<div class="bg-custom"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <ul class="list-group">
    <li class="list-group-item d-flex"><span [@animateText]="linkText ? 'show' : 'hide'"
        class="pr-3 sidebar-heading">Consoleshark</span>
      <button class="toggle-btn" (click)="onSinenavToggle()">
        <i *ngIf="sideNavState" class="fa fa-bars"></i>
        <i *ngIf="!sideNavState" class="fa fa-bars"></i>
      </button>
    </li>
  </ul>
  <div class="sidenav-divider mt-0"></div>
  <ul class="list-group">
    <li class="list-group-item d-flex"><i class="fa fa-tachometer pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Dashboard</span></li>
    <li class="list-group-item d-flex" (click)="goToLogin()"><i class="fa fa-th pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Devices</span></li>
    <li class="list-group-item d-flex"><i class="fa fa-file-o pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Reporting</span></li>
    <li class="list-group-item d-flex"><i class="fa fa-server pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Server</span></li>
    <li class="list-group-item d-flex"><i class="fa fa-calendar pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Events</span></li>
    <li class="list-group-item d-flex"><i class="fa fa-user-o pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">user</span></li>
  </ul>
</div>
