<!-- <div class="bg-custom" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <ul class="list-group">
    <li class="list-group-item d-flex"><span [@animateText]="linkText ? 'show' : 'hide'"
        class="pr-3 sidebar-heading">Consoleshark</span>
      <button class="toggle-btn" (click)="onSinenavToggle()">
        <i *ngIf="sideNavState" class="fa fa-bars"></i>
        <i *ngIf="!sideNavState" class="fa fa-bars"></i>
      </button>
    </li>
  </ul>
  <div class="sidenav-divider mt-0"></div>
  <ul class="list-group nav navbar-nav item">
    <li class="sidenav-header small font-weight-semibold d-flex custom-padding">OVERVIEW</li>
    <li class="list-group-item d-flex custom-padding" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact:true}" routerLink='/'><i class="fa fa-tachometer pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Dashboard</span></li>
    <li class="list-group-item d-flex custom-padding" routerLink='/'><i class="fa fa-television pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">NOC Screen</span></li>
    <li class="list-group-item d-flex custom-padding" routerLink='/login'><i class="fa fa-user-o pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Sessions</span></li>
    <hr class="seperation-line">
    <li class="sidenav-header small font-weight-semibold d-flex custom-padding">CONFIGURATION</li>

    <li class="list-group-item d-flex custom-padding collapsed" data-toggle="collapse" data-target="#host-management"><i
        class="fa fa-server pr-3"></i><span class="w-100" [@animateText]="linkText ? 'show' : 'hide'">Host
        Management<i *ngIf="!showChevronDown" class="fa fa-chevron-left float-right"></i>
        <i *ngIf="showChevronDown" class="fa fa-chevron-down float-right"></i></span>
    </li>
    <ul class="sub-menu collapse" id="host-management">
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Account Details</li>

    </ul>
    <li class="list-group-item d-flex custom-padding collapsed" data-toggle="collapse" data-target="#shark-management">
      <i class="fa fa-sitemap pr-3"></i><span class="w-100" [@animateText]="linkText ? 'show' : 'hide'">Shark
        Management<i *ngIf="!showChevronDown" class="fa fa-chevron-left float-right"></i>
        <i *ngIf="showChevronDown" class="fa fa-chevron-down float-right"></i></span>
    </li>
    <ul class="sub-menu collapse" id="shark-management">
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Account Details</li>

    </ul>
    <li class="list-group-item d-flex custom-padding collapsed" data-toggle="collapse" data-target="#reporting"><i
        class="fa fa-file pr-3"></i><span class="w-100" [@animateText]="linkText ? 'show' : 'hide'">Reporting<i
          *ngIf="!showChevronDown" class="fa fa-chevron-left float-right"></i>
        <i *ngIf="showChevronDown" class="fa fa-chevron-down float-right"></i></span>
    </li>
    <ul class="sub-menu collapse" id="reporting">
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Account Details</li>

    </ul>
    <li class="list-group-item d-flex custom-padding collapsed" data-toggle="collapse" data-target="#organization"><i
        class="fa fa-user pr-3"></i><span class="w-100" [@animateText]="linkText ? 'show' : 'hide'">Organization<i
          *ngIf="!showChevronDown" class="fa fa-chevron-left float-right"></i>
        <i *ngIf="showChevronDown" class="fa fa-chevron-down float-right"></i></span>
    </li>
    <ul class="sub-menu collapse" id="organization">
      <li class="list-group-item d-flex custom-padding" routerLink='/organization/account-details'>Account Details</li>
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Authentication</li>
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Billing</li>
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Organization</li>
      <li class="list-group-item d-flex custom-padding" routerLink='/'>User Management</li>
      <li class="list-group-item d-flex custom-padding" routerLink='/organization/paper-trail'>Paper Trail</li>

    </ul>
    <li class="list-group-item d-flex custom-padding collapsed" data-toggle="collapse" data-target="#partners">
      <i class="fa fa-handshake-o pr-3"></i><span class="w-100" [@animateText]="linkText ? 'show' : 'hide'">Partners
        <i *ngIf="!showChevronDown" class="fa fa-chevron-left float-right"></i>
        <i *ngIf="showChevronDown" class="fa fa-chevron-down float-right"></i></span>
    </li>
    <ul class="sub-menu collapse" id="partners">
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Account Details</li>

    </ul>
    <li class="list-group-item d-flex custom-padding collapsed" data-toggle="collapse" data-target="#providers">
      <i class="fa fa-wrench pr-3"></i><span class="w-100" [@animateText]="linkText ? 'show' : 'hide'">Providers
        <i *ngIf="!showChevronDown" class="fa fa-chevron-left float-right"></i>
        <i *ngIf="showChevronDown" class="fa fa-chevron-down float-right"></i></span>
    </li>
    <ul class="sub-menu collapse" id="providers">
      <li class="list-group-item d-flex custom-padding" routerLink='/'>Account Details</li>

    </ul>
    <hr class="seperation-line">
    <li class="sidenav-header small font-weight-semibold d-flex custom-padding">Support</li>
    <li class="list-group-item d-flex custom-padding" routerLink='/'><i
        class="fa fa-ticket pr-3"></i><span [@animateText]="linkText ? 'show' : 'hide'">Create Cases</span></li>
    <li class="list-group-item d-flex custom-padding" routerLink='/'><i
        class="fa fa-ticket pr-3"></i><span [@animateText]="linkText ? 'show' : 'hide'">Manage Cases</span></li>
    <li class="list-group-item d-flex custom-padding" routerLink='/'><i
        class="fa fa-lightbulb-o pr-3"></i><span [@animateText]="linkText ? 'show' : 'hide'">Feature Request</span></li>
    <li class="list-group-item d-flex custom-padding" routerLink='/paper-trail'><i class="fa fa-user-o pr-3"></i><span
        [@animateText]="linkText ? 'show' : 'hide'">Paper trail</span></li>
  </ul>
</div> -->
<!-- <div>
  Consoleshark
</div> -->
<ng-material-multilevel-menu [configuration]='config' [items]='appitems' (selectedItem)="selectedItem($event)">
</ng-material-multilevel-menu>
  <!-- <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link menu-item" href="#">Ligas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-item" href="#">Gráficas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link menu-item" href="#">Artículos</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clasificaciones</a>      
        <div class=" dropdown dropdown-menu">
            <a class="dropdown-item menu-item" href="#">Equipos</a>
            <a class="dropdown-item menu-item" href="#">Jugadoras</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>                
</ul> -->



<!-- <div class="nav-side-menu">
   <div class="brand">s Logo</div>
   <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
 
   <div class="menu-list">
 
     <ul id="menu-content" class="menu-content collapse out">
       <li>a
         <a href="#">
           <i class="fa fa-dashboard fa-lg"></i> Dashboard
         </a>
       </li>
 
       <li data-toggle="collapse" data-target="#products" class="collapsed active">
         <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
       </li>
       <ul class="sub-menu collapse" id="products">
         <li class="active"><a href="#">CSS3 Animation</a></li>
         <li><a href="#">General</a></li>
         <li><a href="#">Buttons</a></li>
         <li><a href="#">Tabs & Accordions</a></li>
         <li><a href="#">Typography</a></li>
         <li><a href="#">FontAwesome</a></li>
         <li><a href="#">Slider</a></li>
         <li><a href="#">Panels</a></li>
         <li><a href="#">Widgets</a></li>
         <li><a href="#">Bootstrap Model</a></li>
       </ul>
     </ul>
   </div>
 </div>
  -->
