<div class="bg-custom border-right" id="sidebar-wrapper">
  <div class="row">
    <div class="col-md-8">
      <div class="sidebar-heading">Consoleshark </div>
    </div>
    <!-- <div class="col-md-4">
  <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
    </div> -->
  </div>

  <div class="sidenav-divider mt-0"></div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action">Overview</a>
    <a href="#" class="list-group-item list-group-item-action">Events</a>
    <a href="#" class="list-group-item list-group-item-action">Profile</a>
    <a href="#" class="list-group-item list-group-item-action">Status</a>
  </div>
</div>
