.fa {
  color: #a3a4a6;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pt-7 {
  padding-top: 7px;
}

.p-10 {
  padding: 10px;
}

.bg-custom {
  color: #9d9fa1;
}

.color-inherit {
  color: #9d9fa1 !important;
}

.input-search {
  background-color: inherit !important;
  color: #9d9fa1 !important;
}

a {
  color: #9d9fa1;
}
