<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
  <div>
    <label class="nav-item navbar-text navbar-search-box p-0 active ml-4">
      <i class="fa fa-search pr-2 "></i>
      <span class="navbar-search-input">
        <input class="form-control navbar-text border-0" placeholder="Search..." style="width:200px" type="text">
      </span>
    </label>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-bell"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
      <div class="pl-20 pr-20 pt-7">|</div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">Messages</a>
          <a class="dropdown-item" href="#">Account Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
