<ngx-spinner></ngx-spinner>
<h4 class="">
  Users List
</h4>
<div class="card ">
  <div class="card-body">
    <table mat-table matSort [dataSource]="dataTableUsers" class="mat-elevation-z8" class="w-100">
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.user.first_name}} </td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.user.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"><span class="user_status"> {{element.status}} </span></td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <span class="edit-btn action-btn" (click)="onEditUser(element)"><i class="fa fa-pencil"
            aria-hidden="true"></i></span>
          <span class="delete-btn  action-btn" (click)="onDeleteUser(element)"><i class="fa fa-trash"
            aria-hidden="true"></i></span> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="no-records-found" *ngIf="isEmptyApprovedUsersList">No records found</div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<hr>
<h4 class="">
  Pending requests
</h4>
<div class="card">
  <div class="card-body">
    <table mat-table matSort [dataSource]="dataTablePendingUsers" class="mat-elevation-z8" class="w-100">
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.user.first_name}} </td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let element"> {{element.user.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"><span class="user_status"> {{element.status}} </span></td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <span class="approve-btn action-btn" (click)="onApproveRequest(element)"><i class="fa fa-check"
            aria-hidden="true"></i></span>
          <span class="reject-btn  action-btn" (click)="onRejectRequest(element)"><i class="fa fa-times"
            aria-hidden="true"></i></span> </td>
      </ng-container>
      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element" (click)="cliclFunction(element)"> <span
            class="approve_btn">Approve</span> </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
    <div class="no-records-found" *ngIf="isEmptySubmittedUserList">No records found</div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>
