.modal-header {
  border-bottom: none;
  padding: 0.5rem 1rem;
}

.modal-footer {
  border-top: none;
}

.btn-primary {
  border-color: rgba(0, 0, 0, 0);
  background: #26B4FF;
  color: #fff;
}
.w-15{
  width: 15%;
}
.billing-address-css{
  color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 10px;
    border-radius: 5px;
}
