<div class="modal-header">
  <div class="text-center w-100">
    <img src="../../../assets/img/login-form-icon.png" alt="image" />
  </div>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <section id="tabs">
    <div class="row p-2rem-custom">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Create New Organization</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Join Existing Organization</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="modal-body p-2rem">
              <div class="text-center text-muted mb-2">
                <h4 class="text-lighter">Create New Organization</h4>
              </div>
              <form class="form" [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Organization Name</label>
                  <input type="text" class="form-control" formControlName="companyName">
                  <span class="text-danger"
                    *ngIf="(organizationFormControl.companyName.touched || submitted) && organizationFormControl.companyName.errors?.required">
                    Organization Name is required
                  </span>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Address Line 1</label>
                      <input type="text" class="form-control" formControlName="addressLineOne">
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.addressLineOne.touched || submitted) && organizationFormControl.addressLineOne.errors?.required">
                        Address Line 1 is required
                      </span>
                    </div>
                    <div class="col-md-6">
                      <label>Address Line 2</label>
                      <input type="text" class="form-control" formControlName="addressLineTwo">
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.addressLineTwo.touched || submitted) && organizationFormControl.addressLineTwo.errors?.required">
                        Address Line 2 is required
                      </span>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>City </label>
                      <input type="text" class="form-control" formControlName="city">
                    </div>
                    <div class="col-md-6">
                      <label>State </label>
                      <input type="text" class="form-control" formControlName="state">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Country </label>
                      <select class="form-control" formControlName="country">
                        <option value="" [disabled]="true">Select country</option>
                        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label>Zip Code </label>
                      <input type="text" class="form-control" formControlName="zipCode">
                    </div>
                  </div>
                </div>
                <div class="billing-address-css mb-2">Billing Details</div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name</label>
                      <input type="text" class="form-control" formControlName="name">
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.name.touched || submitted) && organizationFormControl.name.errors?.required">
                        First Name is required
                      </span>
                    </div>
                    <div class="col-md-6">
                      <label>Phone</label>
                      <input type="number" formControlName="phone" class="form-control" maxlength="12" minlength="10" />
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.phone.touched || submitted) && organizationFormControl.phone.errors?.required">
                        Phone Number is required
                      </span>
                      <span class="text-danger"
                        *ngIf="organizationFormControl.phone.touched && organizationFormControl.phone.errors?.invalidPhone">
                        Phone Number should have minimum 10 digit
                      </span>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label>Cell</label>
                      <ngx-intl-tel-input type="number" [searchCountryFlag]="true" [preferredCountries]="['us']"
                        [phoneValidation]="true" class="d-block" formControlName="cell" [maxLength]="10" minlength="10">
                      </ngx-intl-tel-input>
                      <!-- <input type="number" formControlName="cell" class="form-control" maxlength="12" minlength="10" /> -->
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.cell.touched || submitted) && organizationFormControl.cell.errors?.required">
                        Contact Number is required
                      </span>
                      <span class="text-danger"
                        *ngIf="organizationFormControl.cell.touched && organizationFormControl.cell.errors?.invalidCell">
                        Contact Number should have minimum 10 digit
                      </span>
                      <span class="text-danger"
                        *ngIf="organizationFormControl.cell.touched && organizationFormControl.cell.status == 'INVALID'">
                        Please enter correct Contact Number
                      </span>
                    </div>
                    <div class="col-md-6">
                      <label>Email</label>
                      <input type="text" class="form-control" formControlName="email">
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.email.touched || submitted) && organizationFormControl.email.errors?.required">
                        Email is required
                      </span>
                      <span class="text-danger"
                        *ngIf="organizationFormControl.email.touched && organizationFormControl.email.errors?.email">
                        Enter a valid email address
                      </span>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <label class="custom-control custom-checkbox m-0">
                    <input [(ngModel)]="checkboxValue" (change)="copyAddressField()" formControlName="copyAddress"
                      type="checkbox" name="onoffswitch" class="custom-control-input" checked>
                    <span class="custom-control-label">Copy Address</span></label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Address Line 1</label>
                      <input type="text" class="form-control" formControlName="billingAddressLineOne">
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.billingAddressLineOne.touched || submitted) && organizationFormControl.billingAddressLineOne.errors?.required">
                        Address Line 1 is required
                      </span>
                    </div>
                    <div class="col-md-6">
                      <label>Address Line 2</label>
                      <input type="text" class="form-control" formControlName="billingAddressLineTwo">
                      <span class="text-danger"
                        *ngIf="(organizationFormControl.billingAddressLineTwo.touched || submitted) && organizationFormControl.billingAddressLineTwo.errors?.required">
                        Address Line 2 is required
                      </span>
                    </div>
                  </div>

                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>City </label>
                      <input type="text" class="form-control" formControlName="billingCity">
                    </div>
                    <div class="col-md-6">
                      <label>State </label>
                      <input type="text" class="form-control" formControlName="billingState">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Country </label>
                      <select class="form-control" formControlName="billingCountry">
                        <option value="" [disabled]="true">Select country</option>
                        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label>Zip Code </label>
                      <input type="text" class="form-control" formControlName="billingZipCode">
                    </div>
                  </div>
                </div>

                <div class="form-group text-right">
                  <button type="submit" [disabled]="organizationForm.status == 'INVALID'"
                    class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane fade custom-modal-height" id="nav-profile" role="tabpanel"
            aria-labelledby="nav-profile-tab">
            <div class="text-center text-muted mb-2">
              <h4 class="text-lighter">Please select organization to join</h4>
            </div>
            <form class="form" [formGroup]="existingOrganizationForm"
              (ngSubmit)="onSubmitExistingOrg(selectedOrganization)">
              <div class="form-group">
                <label>Search by organization</label>
                <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                  (inputChanged)='getOrganizationsListFilter($event)' (inputCleared)="onInputClear($event)"
                  (inputFocused)='getOrganizationsList($event)' [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.company_name"></a>
                  <!-- <span [innerHTML]="item.company_name"></span><i>({{item.company_name}})</i> -->
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">Last</th> -->
                    <!-- <th scope="col">Handle</th> -->
                  </tr>
                </thead>
                <tbody class="org-table-body" *ngIf="selectedOrganization">
                  <tr>
                    <td class="td-left">Id</td>
                    <td>{{selectedOrganization.id}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Company Name</td>
                    <td>{{selectedOrganization?.company_name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Company Address</td>
                    <td>{{selectedOrganization?.company_address}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Country</td>
                    <td>{{selectedOrganization.country?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">State</td>
                    <td>{{selectedOrganization.state?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">City</td>
                    <td>{{selectedOrganization.city?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Zip Code</td>
                    <td>{{selectedOrganization?.zipCode}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="billing-details-td">Billing Details</td>
                  </tr>
                  <tr>
                    <td class="td-left">Country</td>
                    <td>{{selectedOrganization.billing_contact.billingCountry?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">State</td>
                    <td>{{selectedOrganization.billing_contact.billingState?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">City</td>
                    <td>{{selectedOrganization.billing_contact.billingCity?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Zip Code</td>
                    <td>{{selectedOrganization.billing_contact?.billingZipCode}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Name</td>
                    <td>{{selectedOrganization.billing_contact?.name}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Phone</td>
                    <td>{{selectedOrganization.billing_contact?.phone}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Cell</td>
                    <td>{{selectedOrganization.billing_contact?.countryCode}}
                      {{selectedOrganization.billing_contact?.cell}}</td>
                  </tr>
                  <tr>
                    <td class="td-left">Email</td>
                    <td>{{selectedOrganization.billing_contact?.email}}</td>
                  </tr>
                </tbody>
              </table>

              <div class="form-group text-right">
                <button type="submit" [disabled]="!selectedOrganization" class="btn btn-primary">Request to join</button>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
<!-- <div class="modal-footer">
    
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="closeModal('changes saved!')">Save changes</button>
</div> -->
